@use "/src/scss/base/variables.scss" as *;

.footer {
  background-color: $dark;
  padding: 50px 0;

  &_spaced {
    margin-top: 60px;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    row-gap: 40px;

    &-nav {
      display: flex;
      flex-direction: column;
      row-gap: 40px;
    }
  }

  &__title {
    font-weight: 500;
    font-size: 16px;
    text-transform: uppercase;
    color: $light;
  }

  &__cta {
    &-text {
      margin-top: 40px;
      font-weight: 400;
      font-size: 16px;
      color: $light;
    }
  }

  &__form {
    margin-top: 40px;

    &-email {
      input {
        width: 293px;
        background-color: $dark;
        border: none;
        border-bottom: 1px solid $ui-active;
        padding: 0;
        padding-bottom: 15px;
        outline: none;
        font-weight: 400;
        font-size: 14px;
        color: $ui-active;

        &::placeholder {
          font-weight: 400;
          font-size: 14px;
          color: $ui-active;
        }
      }
    }

    &-checkbox {
      margin-top: 20px;
      display: flex;
      align-items: center;

      input {
        width: 15px;
        height: 15px;
        margin-right: 15px;
        cursor: pointer;
      }

      label {
        font-weight: 400;
        font-size: 14px;
        line-height: 200%;
        color: $light;
        cursor: pointer;

        a {
          color: #a22dc6;
          text-decoration: none;
        }
      }
    }
  }

  &__btn {
    margin-top: 20px;
  }

  &__nav {
    display: flex;
    flex-wrap: wrap;
    column-gap: 66px;
    row-gap: 40px;
    &-item {
      ul {
        padding: 0;
        list-style-type: none;

        li {
          margin-top: 20px;
          &:first-child {
            margin-top: 40px;
          }

          a {
            font-weight: 400;
            font-size: 16px;
            color: $light;
            text-decoration: none;
          }
        }
      }
    }
  }

  &__social {
    &-wrapper {
      ul {
        margin-top: 40px;
        display: flex;
        column-gap: 10px;
        padding: 0;
        list-style-type: none;

        li {
          a {
            max-width: 24px;
            text-decoration: none;

            span {
              font-size: 24px;
              color: $light;

              &::before {
                margin: 0;
              }

              &:hover {
                &::before {
                  color: $ceramic;
                }
              }
            }
          }
        }
      }
    }
  }

  &__copyright {
    margin-top: 40px;
    text-align: center;
    font-weight: 400;
    font-size: 14px;
    color: $light;
  }
}

@media screen and (min-width: 768px) {
  .footer {
    &__wrapper {
      &-nav {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
      }
    }
  }
}

@media screen and (min-width: 1200px) {
  .footer {
    &__wrapper {
      flex-direction: row;
      column-gap: 164px;

      &-nav {
        column-gap: 163px;
      }
    }

    &__copyright {
      margin-top: 50px;
    }
  }
}

@media screen and (min-width: 1920px) {
  .footer {
    padding-top: 80px;

    &_spaced {
      margin-top: 100px;
    }

    &__wrapper {
      column-gap: 314px;

      &-nav {
        column-gap: 314px;
      }
    }

    &__copyright {
      margin-top: 20px;
    }
  }
}
