@use "/src/scss/base/variables.scss" as *;

.header {
  position: relative;
  &__menu {
    display: block;
    position: absolute;
    top: 0;
    left: -100vw;
    background-color: $light;
    height: 100vh;
    width: 100%;
    transition: 0.7s all;

    &_active {
      left: 0;
    }

    &-close {
      width: 20px;
      height: 20px;
      position: relative;
      cursor: pointer;
      background-color: transparent;
      border: none;
      span {
        display: block;
        position: absolute;
        top: 9px;
        left: 0;
        width: 100%;
        height: 1px;
        background-color: $dark;

        &:first-child {
          transform: rotate(135deg);
        }

        &:last-child {
          transform: rotate(45deg);
        }
      }
    }

    &-nav {
      margin-top: 50px;
      ul {
        display: flex;
        flex-direction: column;
        list-style-type: none;
        padding: 0 0 0 14px;
        row-gap: 25px;

        li {
          a {
            font-weight: 400;
            font-size: 20px;
            text-transform: uppercase;
            color: $dark;
            text-decoration: none;
          }
        }
      }
    }
  }

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: start;
  }

  &__nav {
    display: none;
  }

  &__logo {
    img {
      width: 100px;
      height: 100px;
      object-fit: cover;
    }
  }

  &__icons {
    display: flex;
    column-gap: 15px;

    a {
      text-decoration: none;
      max-width: 20px;
    }

    span {
      font-size: 20px;
      color: $dark;

      &::before {
        margin: 0;
      }
    }

    span:first-child {
      width: 20px;
    }
  }
}

.burger {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 20px;
  padding: 0;
  padding-right: 35px;
  cursor: pointer;
  border: none;
  background-color: transparent;

  span {
    display: block;
    background-color: $dark;
    width: 20px;
    height: 1px;
  }
}

@media screen and (min-width: 768px) {
  .header {
    &__menu {
      display: none;
    }
    &__nav {
      margin-top: 20px;
      display: block;
      ul {
        display: flex;
        justify-content: center;
        padding: 0;
        list-style-type: none;
        column-gap: 30px;

        li {
          a {
            font-weight: 400;
            font-size: 20px;
            text-transform: uppercase;
            color: $dark;
            text-decoration: none;
          }
        }
      }
    }
  }
  .burger {
    visibility: hidden;
  }
}

@media screen and (min-width: 1920px) {
  .header {
    &__nav {
      margin-top: 36px;
      ul {
        column-gap: 60px;
      }
    }

    &__logo {
      a {
        img {
          width: 150px;
          height: 151px;
        }
      }
    }
  }
}
