@use "/src/scss/base/variables.scss" as *;
@use "/src/scss/base/mixins.scss" as *;

.btn-default {
  @include button;
  font-size: 20px;
  width: 230px;
  height: 50px;
}

.btn-request {
  @include button;
  width: 220px;
  height: 40px;
  font-size: 16px;

  &:active,
  &:focus {
    border-color: $ceramic;
  }

  &:disabled {
    border-color: $ui-disabled;
    color: $ui-disabled;
  }
}

.btn-submit {
  @include button;
  width: 90px;
  height: 40px;
  border-color: $light;
  color: $light;
  font-size: 16px;

  &:disabled {
    border-color: $ui-disabled;
    color: $ui-disabled;
  }
}

.btn-read {
  @include button;
  font-size: 14px;
  width: 145px;
  height: 32px;

  &:active,
  &:focus {
    border-color: $ceramic;
  }
}

@media screen and (min-width: 1200px) {
  .btn-default:hover {
    background-color: $dark;
    color: $light;
    border: none;
  }

  .btn-default:active {
    border: none;
    box-shadow: inset 0 0 10px 1px rgba(0, 0, 0, 0.4);
    background: rgba(217, 217, 217, 0.1);
    color: $dark;
  }

  .btn-request:hover {
    color: $ceramic;
    border-color: $ceramic;
  }

  .btn-read:hover {
    color: $ceramic;
    border-color: $ceramic;
  }
}

@media screen and (min-width: 1920px) {
  .btn-default {
    width: 330px;
    height: 60px;
  }
}
